# API
REACT_APP_API_BASE_URL=http://localhost:8000
REACT_APP_IMAGE_BASE_URL=https://tripnow-bucket.s3.ap-northeast-2.amazonaws.com
REACT_APP_MATOMO_URL=http://localhost:9080

# 앱
REACT_APP_APP_NAME=TripNow
